# Vitis HLS / Vivado
*.log
*.jou
*.str
*.zip
.Xil/
vitis-comp.json
hls_component*/
*_csynth.rpt
*.prj/
solution*/
.autopilot/

# Compilation
*.o
*.out
test_acq
test_blocks
*.exe

# LaTeX
*.aux
*.toc
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
